[submodule "monitoring/kube-state-metrics"]
	path = monitoring/kube-state-metrics
	url = git@github.com:kubernetes/kube-state-metrics.git
[submodule "monitoring/datadog-agent"]
	path = monitoring/datadog-agent
	url = git@github.com:DataDog/datadog-agent.git
[submodule "services/ingress-nginx"]
	path = services/ingress-nginx
	url = git@github.com:kubernetes/ingress-nginx.git
